.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
  width: 18rem;
}

body{
  text-align: center;
  background-color: darkgrey;
}

.buttons{
 display:flex;
 justify-content: space-around;
}
